mixin s-banner()
	// start s-banner
	+b.s-banner#s-banner&attributes(attributes)
		.container
			+e.block.bg-wrap
				+pic("Admiral00019")(class='picture-bg')
				.h1 Только Вы и море.
				.h1.strong Попробуйте бесплатно 3&nbsp;дня проживания в&nbsp;Admiral Premium Residence
				.h5.strong Бесплатно доставим Вас в&nbsp;резиденцию из&nbsp;аэропорта Алании, а&nbsp;также недорого из&nbsp;аэропорта Анталии
				p Дадим менеджера с&nbsp;автомобилем и&nbsp;покажем Вам все наши объекты на&nbsp;побережье средиземного моря
				+e.btn(href="#") Воспользоваться предложением
	// end s-banner