$default-font: "Futura";
// $file-form: ($file-formats: woff2 woff ttf);
$addr: '../fonts/';
$file-format: woff2 woff;

@include font-face ($default-font, $addr + "FuturaPT-Book/FuturaPT-Book", $file-formats: $file-format);
@include font-face ($default-font, $addr + "FuturaPT-Demi/FuturaPT-Demi", bold, $file-formats: $file-format);
@include font-face ($default-font, $addr + "FuturaPT-DemiObl/FuturaPT-DemiObl", 700, italic, $file-formats: $file-format);

// font-weight helper:

// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Normal
// 500 Medium
// 600 Semi Bold
// 700 Bold
// 800 Extra Bold
// 900 Ultra Bold