extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-filter/_s-filter.pug
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-card-head/_s-card-head.pug
include ../blocks/s-layout/_s-layout.pug
include ../blocks/s-map/_s-map.pug
include ../blocks/s-banner/_s-banner.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Внутренняя'
	title= title
block pagecontent 
	//- +mob-mnu()
	+top-line()
	.container
		+breadcrumb("Турция","Алания", "Admiral Premium Residence", "Квартира 158 м2 Admiral Premium Residence")
		h1  Квартира 158 м2&nbsp;Admiral Premium Residence
	+s-card-head
	+s-layout
	+s-map
	+s-catalog2
	+s-banner
	+footer() 