extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-filter/_s-filter.pug
include ../blocks/s-catalog/_s-catalog.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Главная'
	title= title
block pagecontent 
	//- +mob-mnu()
	+top-line()
	
	+header-block()
	+s-filter
	+s-catalog
	+footer() 